# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
.next
out
build
dist

# Coverage and logs
coverage
*.log

# Tooling caches
.turbo
.vite
.cache
.vercel
.netlify

# Temporary files
.tmp
.temp
.tmp/**
