:root {
}

body {
  background-color: transparent;
  font-family: "Microsoft YaHei", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
}
